.featureHeading {
  color: #717171;
  margin: 1.5rem 0 1rem 0;
}

/* Slideshow container */
.slideshowContainer {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slideVideo {
  width: 100%;
  max-height: 80vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FFA400;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slidesContainer {
  position: relative;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On active, add a background color with a little bit see-through */
.prev:active, .next:active {
  color: white;
  background-color: rgba(255, 164, 12, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.navDots {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0 2rem 0;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Slideshow Links Accordian */

.slideshowLinks {
  flex-direction: column;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#accordianLinksContainer {
  width: 100%;
}

.featuresButton {
  align-self: center;
  background-color: white;
  color: #FFA400;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #bbb;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}

.featuresButton:active, .accordianLink:active {
  background-color: #717171;
  color: white;
  border-color: #717171;
}

.accordianLink {
  margin: 0.5rem 0;
  background-color: white;
  color: #717171;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .navDots {
    gap: 0.5rem;
  }
}

@media (hover: hover) {
  .dot:hover {
    background-color: #717171;
  }
  
  /* On hover, add a background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: white;
    background-color: rgba(255, 164, 12, 0.8);
  }

  .featuresButton:hover, .accordianLink:hover {
    background-color: #717171;
    color: white;
    border-color: #717171;
  }
}