<nav class="nav">
  <a class="logo" href="/"><img src="/assets/Logo.svg" alt="Cobalt AI logo" width="49" height="57"></a>
  <ul class="nav-links">
    <li>
      <details class="dropdown">
        <summary>Tools</summary>
        <div class="dropdown-menu">
          <a href="/DealPrep/" target="_blank">Dealprep</a>
          <a href="/policysaurus/">Policysaurus</a>
          <a href="/diligence-monster/">Diligence Monster</a>
        </div>
      </details>
    </li>
    <li><a href="/team/">Team</a></li>
    <li><a href="{{ site.blogUrl }}" target="_blank">Blog</a></li>
  </ul>
</nav>
