<section class="content">
  <div class="section-intro">
    <h2>Services</h2>
  </div>
  <div class="steps">
    <div class="step">
      <div class="step-title">Tech Assisted Legal Drafting</div>
      <p>
        Tech and AI powered legal services including hyperthorough document reviews and drafting -
        powered by libraries of documents converted from text into data. Supporting M&amp;A diligence
        and tech-assisted drafting, and transactional drafting, and dispute resolution activities
      </p>
    </div>
    <div class="step">
      <div class="step-title">Knowledge Management As A Service</div>
      <p>
        For legal teams and other professionals who are trying to organize, understand and improve
        their many document versions and drafts. Supporting commercial redlines, M&amp;A and
        transactional drafting, and dispute resolution activities
      </p>
    </div>
    <div class="step">
      <div class="step-title">Large Volume Document Processing</div>
      <p>
        For various research purposes to aid in discovery, updating, M&amp;A diligence and many other
        abstracting and extract purposes.
      </p>
    </div>
  </div>
</section>
