<section class="content">
  <div class="section-intro section-intro--spaced">
    <h2>Testimonials</h2>
  </div>
  <div class="steps">
    <div class="step">
      <img class="step-flourish" src="/assets/seperators/a-seperator-1.svg" alt="" width="142" height="24">
      <p>
        We have been impressed with the commitment by Cobalt to providing a thoughtful response
        within a six hour service level, with their deal knowledge capture through their software
        platform, and with the speed at which their software and lawyers are able to collect our
        thinking and map from prior deals into future deals. As our understanding of their legal and
        technological capabilities have advanced, we have increased our desire to create [...]
        automations around legal documentation.
      </p>
      <p><strong>— Michael Younder</strong> | <em>Head of CMS Partnerships</em></p>
    </div>
    <div class="step">
      <img class="step-flourish" src="/assets/seperators/a-seperator-3.svg" alt="" width="142" height="24">
      <p>
        Cobalt has been an excellent partner for us. The client focus and support is outstanding.
        Their Drafting Sprints have been very effective for us, helping progress deals based on our
        timeline. It’s easy to recommend Cobalt.
      </p>
      <p><strong>— Brett Hurlock</strong> | <em>President</em></p>
    </div>
    <div class="step">
      <p>
        The protection and collection of personal information of the audience that use our services
        are of great importance to us, and with the depth of experience of the Cobalt team, they have
        helped us to ensure that we understand how we can ensure our compliance with privacy laws and
        provide our audience comfort that their information is secure. The Cobalt team shares the
        same values of transparency and trust as is evident in our experiences working with them.
      </p>
      <p><strong>— Brian Prosserman</strong> | <em>Founder</em></p>
    </div>
  </div>
  <div class="steps-cta">
    <a class="button" href="/testimonials/">See More Testimonials</a>
  </div>
</section>
