---
layout: base.html
title: Policysaurus for HR Policies
permalink: /policysaurus/hrpolicies/
---

<header class="page-header">
  <div class="page-header-image page-header-image--flush">
    <img src="/assets/policysaurus/DiversityIpad.svg" alt="" width="1000" height="663">
  </div>
  <div class="page-header-content">
    <h1>Policysaurus for HR Policies</h1>
    <h3>Rules and Policy Compare Tool and Builder</h3>
  </div>
</header>

<section class="content">
  {% include "sections/policysaurus-what-is.html" %}
  <div class="intro-centered"><h2>Human Resources Policies</h2></div>
  <div class="content-block">
    <p>
      Policysaurus’s Policysaurus product, along with their teams of lawyers, subject matter experts,
      and researchers, provides tools to manage research for the purpose of policy review, analysis,
      and development.
    </p>
    <p>
      Policysaurus’s Policysaurus software will aid in the efficient and semi-automatic review of the
      your organizations’ documents, which will allow our subject matter experts to dedicate their
      time to addressing issues related to racism and discrimination in your policies.
    </p>
    <p>
      Policysaurus’s unique data-driven approach to understanding legal documents for the provision
      of materials and training on many topics, including accessibility, anti-harassment, hiring, and
      other policy and legal documents.
    </p>
  </div>
</section>

<section class="content band band--gap-sm band--flip band--tint">
  {% include "sections/policysaurus-product-description.html" %}
</section>

{% include "sections/policysaurus-works.html" %}

<section class="content band band--gap-sm band--flip band--tint">
  <div class="action-block">
    <h2>See it in Action</h2>
    <img class="action-image" src="/assets/policysaurus/DiversityPlaybook.svg" alt="">
    <p>
      We will collect research from a variety of sources, including our database of policies. We will
      map relevant precedents from the Policysaurus database and other sources and categorize the
      collected data into frameworks that capture the various nuances of the documents.”
    </p>
    <img class="action-image" src="/assets/policysaurus/DiversityGlass.svg" alt="">
    <p>
      Our approach aggregates information that is easily accessed, shared, criticized, queried, and
      reviewed. It also allows us to analyze and develop materials that can be edited at an
      individual content level by a variety of reviewers, and edits are saved.
    </p>
    <img class="action-image" src="/assets/policysaurus/Integrate.svg" alt="">
    <p>
      Once our team of researchers, lawyers, and subject matter experts have created policies that
      work for your organization, we can deliver them to you in your preferred format or integrate
      with your systems.
    </p>
  </div>
</section>

<section class="content band band--gap-sm band--noskew band--final">
  {% include "sections/policysaurus-tech-advantage.html" %}
</section>
