---
layout: base.html
title: Commercial Dispute Resolution by Cobalt Lawyers
permalink: /dispute/
fullNav: false
---

{% include "sections/product-header.html", tagline: "Commercial Dispute Resolution, Simplified" %}

<section class="content">
  <div class="content-block">
    <h3 class="intro-block">
      When you are having trouble collecting on invoices issued to your customers, are dealing with
      scope creep issues or unfulfilled scope, or otherwise have heartburn from one of your
      customers, vendors, employees, contractors or shareholders, consult with us.
    </h3>
    <h3 class="intro-block">
      Understanding what the law says on the topic can be simplified with our AI research approach.
      Answers are then refined by our lawyers who will walk you through your various options.
    </h3>
    <div class="assist-block">
      <h3 class="intro-block">
        We may be able to assist you with the drafting of a letter to help resolve your dispute,
        within an hour.
      </h3>
      <img class="assist-image" src="/assets/TacitKnowledge.png" alt="Tacit Knowledge" width="338" height="396">
    </div>
  </div>
</section>

{% include "sections/checkout.html", eyebrow: "Book a Call", heading: "Book a call to discuss", body: "Our experienced team is happy to work with you." %}
