---
layout: base.html
title: Cobalt AI
permalink: /
---

{% include "sections/hero.html" %}
{% include "sections/setup.html" %}

<section class="content content--split band band--flip band--tint">
  <div>
    <img src="/assets/Knowledge.svg" alt="Knowledge" width="1280" height="1024">
  </div>
  <div class="content-block">
    <h6 class="subheading">About</h6>
    <h2>We are passionate about simplifying legal tasks.</h2>
    <p>
      Our team is comprised of lawyers, knowledge management clerks and software engineers who are
      passionate about using AI to reduce repeatable work, retrieve answers faster, and ultimately
      to solve our clients' legal tasks with the benefit of technology.
    </p>
    <p>Using automated research, we provide thoughtful answers to drafting questions.</p>
    <p>
      We identify otherwise hidden gaps in client documents, and suggest language based on our
      client’s own precedents.
    </p>
    <p>
      No project is too large or too small - our AI supports the most innocuous of legal questions,
      and also supports the completion of large-scale document review activities.
    </p>
    <a class="button" href="#checkout">Get Started</a>
  </div>
</section>

{% include "sections/testimonial.html" %}
{% include "sections/checkout.html" %}
