---
layout: base.html
title: Wills and Estate Planning by Cobalt Lawyers
permalink: /wills/
fullNav: false
---

{% include "sections/product-header.html", tagline: "Wills and Estate Planning, Simplified" %}

<section class="content">
  <div class="content-block">
    <h3 class="intro-block">
      If you are drafting a simple will or are in need of a power of attorney document, we can
      assist.
    </h3>
    <h3 class="intro-block">
      Understanding what the law says on the topic can be simplified with our AI research approach.
      Answers are then refined by our lawyers who will walk you through your various options.
    </h3>
    <h3 class="intro-block">
      Where your matter is a little more complicated and you are in need of wills and estates
      research, we may be able to assist you with results within an hour.
    </h3>
    <div class="assist-block">
      <h3 class="intro-block">
        Our wills team members have reviewed more than 2000 wills and have experience drafting
        wills, estates, codicils and trust agreements.
      </h3>
      <img class="assist-image" src="/assets/TacitKnowledge.png" alt="Tacit Knowledge" width="338" height="396">
    </div>
  </div>
</section>

{% include "sections/checkout.html", eyebrow: "Book a Call", heading: "Book a call to discuss", body: "Our experienced team is happy to work with you." %}
